.top-header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
}

.top-header .name {
	font-size: 26px;
}

nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
}

nav li {
	padding-inline: 10px;
}

nav a {
	text-decoration: none;
	color: #000
}

.social-link img {
	width: 20px;
	height: 20px;
}